# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
*.log

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# Data folder (excluded to avoid large files)
data/

# Streamlit
.streamlit/

# Misc
*.bak
